body{
    /* background: linear-gradient(to bottom right, #33475b, #0033CC, #FF77CC, rgb(255, 122, 89)); */
    background: linear-gradient(to right, #0f0c29 0%,#302b63 100%);
    /*background: url(./img/fondo.jpg); */
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boards{
    height: 540px;
    width: 340px;
    /* min-width: 100px; */
    margin: 0 auto;
    display: none;
    flex-wrap: wrap;
    border: 3px solid white;
    border-radius: 15px;
}

#board{
    /* min-width: 100px; */
    background-color: #83b8aa; 
    height: 100%;
    border: 3px solid white;
    border-radius: 15px;
    width: 340px;
    margin: -1px auto;
} 

#board-2{
  background-color: #ff6a5a;
  height: 100%;
  border: 3px solid white;
  border-radius: 15px;
  width: 340px;
  margin: -1.5px auto;
}

#board-3{
  background-color: #b83564;
  height: 100%;
  border: 3px solid white;
  border-radius: 15px;
  width: 340px;
  margin: -1.5px auto;
}

#board-4{
  background-color: #ffb350;
  height: 100%;
  border: 3px solid white;
  border-radius: 15px;
  width: 340px;
  margin: -1px auto;
}

#matrixboard, #matrixboard-2, #matrixboard-3, #matrixboard-4{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    padding: 10px 5px;
}

.token{
    border: 1px solid white;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: large;
    color: #fff;
}

.tachado{
  background-color: #545454;
}

#main{
    display: none;
}

#header{
  display: none;
}

h1, h2 {
    color: whitesmoke;
    display: block;
}

#turn{
  padding: 20px;
}

#container h1 {
    color: black; /*Cambiar el color del texto*/
}

label{
  color: #fff;
}

#container {
    max-width: 600px;
    margin: 10% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
}

form {
    display: flex;
    flex-direction: column;
}

form#setupForm label {
  color:#0f0c29;
}

label {
    margin-top: 10px;
}

input, button {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
}

#GameButton, #Delete{
  margin: 20px auto;
}

table{
  border-collapse: collapse;
  display: table;
  margin: 0 10% 10% 10%;
  width: 80%;
  box-shadow: 0 0 5px rgba(139, 110, 110, 0.986);
}

table tr{
  padding: 0.45em;
}

thead tr{
  background-color: #7c7c7c;
}

/* thead th{
  
} */

tbody tr:nth-child(even){
  background-color: #eaeaea;
}

td{
  padding: 10px;
  background: #F1F1F1;
  margin: 0px;
  color: #545454;
  width: 170px;
}

.name{
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 30px;
  font-weight: bold;
}

#Stop{
  display:none;
}

.Carrusel{
  position: relative;
  width: 400px;
  margin: 0 auto;
}

.flechasCarrusel{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #cccccc00;
  color: #ccc;
}

.itemCarrusel{
  height: 100%;
  position: relative;
  display: grid;
}

#conteItemsCarrusel{
  height: 540px;
  width: 100%;
  overflow: hidden;
}

div.flechasCarrusel a {
  color: #ccc;
}


#Ficha{
  /* background: #e0e4cc;
  justify-content: center;
  text-align: center;
  width: 50px;
  margin: 10px auto;
  margin-bottom: -5px;
  padding: 20px 20px;
  border: 0.5px solid greenyellow;
  border-radius: 20px; */

  background-color: #FFD700; /* Color de fondo amarillo */
  width: 50px;
  height: 50px;
  margin: 10px auto;
  margin-bottom: -10px;
  color: #000; /* Color del texto negro */
  font-size: 24px; /* Tamaño de fuente */
  font-weight: bold; /* Texto en negrita */
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 10px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  border: 2px solid #000; /* Borde sólido de 2px en color negro */
}

#Fichadiv{
  margin: 30px auto;
} 


/* .editable-cell{
  transition: .3s all linear;
}

.editable-field{
  display: flex;
  justify-content: space-between;

}

.editable-input{
  border: none;
  font-size: inherit;
  background: inherit;
  color: inherit;
  transition: .3s all linear;
}

.editable-input:focus{
    outline: none;
    background: white;
    color: #545454;
}
  
.edit-button{
  cursor: pointer;
  font-size: 5em;
  position: relative;
  top: 5px;
} */


/* #juego{
    display:flex;
    width: 800px;
    margin: auto;
  }
  
  #juego > div{
    border:1px solid #000;
    width: 33%;
  }
  .carton{
    margin:auto;
    text-align: center;
  }
  .numero{
    display:inline-block;
    border:1px solid #000;
    width: 45px;
    line-height: 45px;
    margin: 1px;
    text-align:center;  
  }
  .tachado{
    color: #fff;
    background-color: #000;
    
  }
  #bingo{
    text-align: center;
  }
  #bola{
    font-size:50px;
    display:block;
    margin: 20px auto;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    background-color: #000;
    color: #FFF;
    text-align:center;
  }
  .etiqueta{
    text-align:center;
    margin: 10px auto;
  } */